

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hpDiv{
  width: 470px;
}

.hpDiv img{
  width: 500px;
}

.homeNav {
  margin: 0;
}

.homeNav img {
  width: 500px;
}

.textHP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.textHP p {
  text-align: left;
}

.beerCard {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 500px;
  justify-content: space-between;

}



.beerImg img{
  height: 300px;
  padding: 10px;
}

.tag {
  color: darkgray;
  font-weight: 700;
}

.beerCardInd {
  display: flex;
  flex-direction: column;
  width: 470px;
}

.beerImgInd img{
  height: 200px;
}

.beerText {
  text-align: left;
}

.darkGray {
  color: darkgray;
  font-weight: 700;
}

.listItem{
  text-decoration: none;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

.form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: left;
}

form input {
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
}

#button {
  background-color: #3DC4FC;
  border-width: 0;
  padding: 10px;
  width: 200px;
  color: white;
  text-transform:uppercas;
  font-weight: 700;
}



.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstBrewed {
  font-weight: 700;
}
